body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container{
  .header-container{
    .bg-body-tertiary{
      background: rgba(0, 0, 0, 0.5); 
      z-index: 10; 
    }
    .navbar-nav{
      .nav-link{
        &.active{
          color: #00bfff;
        }
      }
    } 
  }
  .main-container{
    .app-context{
      .homepage-container{
        video {
          position: fixed;
          bottom: 0;
          width: 100vw;
        }
      }
    }
  }
}

